* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-box {
    display: flex;
}

.container {
    margin: 0 auto;
    width: 1352px;
}

@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

header {
    width: 100%;
    box-shadow: 0 3px 6px #00000029;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 9999;
}

.header {
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    z-index: 9999;
}

.header__logo {
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    color: #08A6E4;
    letter-spacing: 0;
    padding: 17px 0;
}

.nav {
    color: #A5A5A5;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: .7rem;
    letter-spacing: 0.2rem;
    padding: 28px 95px;
}

.nav:last-child {
    padding-right: 0;
}

.nav a:hover {
    color: #000000;
    border-bottom: 4px solid #08A6E4;
}

@media screen and (max-width: 1000px) {
    .header {
        width: 100%;
        justify-content: space-between;
    }

    .nav {
        display: none;
    }

    #mobile-nav {
        width: 50%;
    }

    #mobile-nav .fa-bars:before {
        float: right;
        content: "\f0c9";
        position: absolute;
        top: 10px;
        right: 10px;
        color: #08A6E4;
        font-size: 3rem;
    }

    .mobile-menu {
        display: none;
        width: 100%;
        text-align: center;
        background-color: #fff;
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 67px;
        border-left: 0.5px solid #E8E9ED;
        border-bottom: 0.5px solid #E8E9ED;
        box-shadow: 0 3px 6px #00000029;
    }

    .mobile-menu li {
        padding: 20px 10px;
    }

    .mobile-menu li a {
        text-decoration: none;
        font-size: 1.2rem;
        color: #08A6E4;
    }
}

@media screen and (min-width: 1001px) {
    #mobile-nav, .mobile-menu {
        display: none;
    }
    .header__logo {
        padding: 17px 0 0 17px;
    }
}

.banner__image {
    width: 100%;
    height: 50vh;
    background-image: url(../images/Background@2x.png);
    background-size: cover;
    position: center;
}

@media screen and (max-width: 1000px) {
    .banner__image {
        background-image: url(../images/Background.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-clip: padding-box;
        height: 50vh;
    }
}

.nav li {
    display: inline;
    font-size: .7rem;
}

.nav li a {
    text-decoration: none;
    color: #A5A5A5;
    padding: 10px;
}

.opening-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .opening-section {
        height: 50vh;
        width: 100%;
    }
}

@media screen and (max-width: 659px) {
    html {
        width: 100%;
    }
}


.opening-section__title {
    font-family: "Raleway", sans-serif;
    font-size: 3.1rem;
    font-weight: 400;
    letter-spacing: 0;
    padding: 100px 0 20px 0;
}

.opening-section__text,
.opening-section__button a {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
}

.opening-section__button {
    background-color: #08A6E4;
    width: 440px;
    height: 67px;
    border-radius: 40px;
    box-shadow: 5px 10px 14px #07ACE629;
    margin-top: 38px;
}

.opening-section__button:hover {
    background-color: #0676a2;
    transition: .5s linear;
}

@media screen and (max-width: 1000px) {
    .opening-section__button {
        width: 70%;
        box-shadow: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 999px) {
    .opening-section__button {
        width: 40%;
        box-shadow: none;
    }
}

.opening-section__button a {
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;
}

.statistics-section,
.statistics-section__box,
.statistics-section__box:last-child {
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .statistics-section__icons {
        flex: none;
        display: block;
    }

    .statistics-section__title {
        text-align: center;
    }
}

.statistics-section__box {
    padding-right: 205px;
    padding-top: 101px;
}

.statistics-section__box:last-child {
    padding-right: 0;
}

.statistics-section__icon-person,
.statistics-section__icon-eye,
.statistics-section__icon-catalog {
    position: relative;
}

.statistics-section__icon-person {
    background: transparent url(../images/Person.svg) 0 0 no-repeat padding-box;
    width: 44px;
    height: 52px;
}

.statistics-section__icon-person::before,
.statistics-section__icon-eye::before,
.statistics-section__icon-catalog::before {
    content: "";
    width: 63px;
    height: 63px;
    border-radius: 50%;
    display: block;
    position: absolute;
    z-index: -1;
    right: 20%;
}

.statistics-section__icon-person::before {
    background: #FB3B64;
}

.statistics-section__icon-eye {
    background: transparent url(../images/Eye.svg) no-repeat bottom;
    background-size: contain;
    width: 65px;
    height: 48px;
}

.statistics-section__icon-eye::before {
    background: #08A6E4;
}

.statistics-section__icon-catalog {
    background: transparent url(../images/Catalog.svg);
    width: 52px;
    height: 48px;
}

.statistics-section__icon-catalog::before {
    background: #55DFB4;
}

.statistics-section__title {
    font-size: 2.25rem;
    padding-top: 100px;
}

.statistics-section__number {
    font-weight: 800;
    letter-spacing: 5.96px;
    color: #000000;
    padding: 20px 0;
}

.statistics-section__description {
    text-align: center;
    letter-spacing: 0;
    color: #A5A5A5;
    padding-bottom: 149px;
}

.statistics-section__title,
.statistics-section__number,
.statistics-section__description {
    font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 1000px) {
    .statistics-section__title {
        padding: 50px 20px;
    }

    .statistics-section__box {
        padding: 20px;
        width: 100%;
    }

    .statistics-section_description {
        padding-bottom: 20px;
    }
}

section:nth-child(4) {
    background-color: #F7F7F7;
}

.benefits-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    section:nth-child(4) {
        width: 100%;
    }

    .benefits-section {
        flex-wrap: wrap;
    }
}

.benefits-section__box {
    align-items: center;
    justify-content: space-between;
    width: 1124px;
    height: 370px;
    margin-bottom: 37px;
    background: #FFFFFF;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 1000px) {
    .benefits-section__box {
        width: 100vw;
        display: block;
    }

    .benefits-section__box,
    .benefits-section__phone,
    .benefits-section__trumpet,
    .benefits-section__macbook {
        display: flex;
        justify-content: space-between;
    }

    .benefits-section__phone img,
    .benefits-section__macbook img {
        margin: 0;
    }

    #mac.benefits-section__macbook img {
        width: 230px;
        height: 134px;
    }

    .title-text {
        width: 50vw;
    }

    #first-box.benefits-section__box:first-child::after {
        width: 160px;
        height: 166px;
        right: 10%;
        top: 25%;
    }
}

.benefits-section__box:first-child {
    margin-top: 106px;
}

.title-text {
    width: 623px;
    height: 370px;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

@media screen and (max-width: 1000px) {
    .title-text {
        width: 100vw;
        display: flex;
        align-content: center;
        margin-bottom: 20px;
        margin-right: 10px;
    }
}

.benefits-section__title {
    font-size: 2.25rem;
    font-family: "Raleway", sans-serif;
    text-align: justify;
    padding-bottom: 30px;
}

.benefits-section__text {
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 0;
}

.benefits-section--line1::after,
.benefits-section--line2::after,
.benefits-section--line3::after {
    content: "";
    display: block;
    height: 5px;
    width: 300px;
    background-color: #08A6E4;
    margin: 50px 0;
}

.benefits-section--line1::after {
    background-color: #FB3B64;
}

.benefits-section--line3::after {
    background-color: #55DFB4;
}

.benefits-section__macbook img {
    width: 386px;
    height: 219px;
    z-index: 2;
    margin: 113px 120px 0 169px;
}

.benefits-section__box:first-child::after {
    content: "";
    display: block;
    width: 215px;
    height: 215px;
    border-radius: 41px;
    background: #FB3B64;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    z-index: -1;
    right: 10%;
    top: 20%;
}

.benefits-section__phone img {
    width: 426px;
    height: 328px;
    z-index: 2;
    margin-left: 70px;
    margin-right: 192px;
}

.benefits-section__box:nth-child(2)::after {
    content: "";
    display: block;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: #08A6E4;
    position: absolute;
    z-index: -1;
    top: 12px;
    left: 70px;
}

.title-text-last {
    justify-content: center;
    width: 623px;
    height: 370px;
    background: #FFFFFF;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 1000px) {
    .title-text-last {
        width: 50vw;
        display: flex;
        align-content: center;
        margin-bottom: 20px;
    }

    .benefits-section__trumpet img {
        width: auto;
        border: none;
    }
}

.benefits-section__box:last-child {
    background-color: #F7F7F7;
    border: none;
    margin-bottom: 105px;
}

.trumpet-box {
    width: 440px;
    height: 370px;
    background: #55DFB4 0 0 no-repeat padding-box;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.benefits-section__trumpet img {
    width: 296px;
    height: 208px;
}

@media screen and (max-width: 1000px) {
    .trumpet-box {
        display: flex;
        align-content: center;
        margin-bottom: 20px;
        width: 50vw;
    }

    .benefits-section__trumpet img {
        width: auto;
        border: none;
    }
}

@media screen and (max-width: 1000px) {
    #mac.benefits-section__macbook img {
        margin: 0 60px 0 0;
    }
}

@media screen and (max-width: 1000px) {
    #iPhone.benefits-section__phone img {
        margin: 0;
        width: 100%;
        height: auto;
    }

    .benefits-section__box:nth-child(2)::after {
        content: "";
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: #08A6E4;
        position: absolute;
        z-index: -1;
        top: 107px;
        left: 27px;
    }
}

.pricing-section {
    justify-content: space-evenly;
    align-items: center;
}

.pricing-section__title {
    justify-content: center;
    padding: 100px 0 50px 0;
    font-family: "Raleway", sans-serif;
    font-size: 2.25rem;
}

.card {
    height: 461px;
    width: 372px;
    border-radius: 18px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
}

.card__title {
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0;
}

.card__price {
    font-size: 2.9rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    padding-top: 14px;
}

.card--limited {
    padding: 5px 0 61px 0;
    font-family: "Raleway", sans-serif;
    font-size: .75rem;
    font-weight: 800;
}

.card-1 {
    border: 1px solid #FB3B64;
}

.card-1 .card__price {
    color: #FB3B64;
    padding-bottom: 39px;
}

.card-2 {
    border: 1px solid #08A6E4;
    box-shadow: 5px 10px 27px #07ACE629;
    width: 405px;
    height: 500px;
}

.card-2 .card__price {
    color: #08A6E4;
}

.card-3 {
    border: 1px solid #55DFB4;
}

.card-3 .card__price {
    color: #55DFB4;
}

.card li {
    text-decoration: none;
    list-style: none;
    font-size: .9rem;
    padding-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.checkmark, .cross {
    width: 11px;
    height: 11px;
    margin-right: 10px;
}

.card__buttons {
    width: 165px;
    height: 50px;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 23px;
    align-self: center;
    position: absolute;
    bottom: -5%;
}

.card__buttons a {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: .8rem;
    font-weight: 700;
    color: #FFFFFF;
}

.card__button-basic {
    background: #FB3B64 0 0 no-repeat padding-box;
}

.card__button-basic:hover {
    background-color: #fc5c7e;
    transition: .5s linear;
}

.card__button-professional {
    background: #08A6E4 0 0 no-repeat padding-box;
}

.card__button-professional:hover {
    background-color: #0676a2;
    transition: .5s linear;
}

.card__button-premium {
    background: #55DFB4 0 0 no-repeat padding-box;
}

.card__button-premium:hover {
    background-color: #198362;
    transition: .5s linear;
}

@media screen and (max-width: 1000px) {
    .pricing-section {
        display: block;
    }

    .card {
        width: 100%;
        margin-bottom: 40px;
    }

    .card__buttons {
        box-shadow: none;
    }
}

.contact {
    align-items: center;
    justify-content: center;
    padding-top: 197px;
}

.contact__first-box {
    flex-direction: column;
    width: 30%;
}

.contact__first-box__title {
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    font-weight: 400;
}

.contact__first-box__text {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    padding: 22px 0 41px 0;
}

.contact__second-box {
    width: 30%;
}

.contact__first__contact-email,
.contact__first__contact-phone {
    font-family: "Open Sans", sans-serif;
    color: #A5A5A5;
    padding-bottom: 270px;
    padding-right: 20px;
}

.contact__first__contact-email img,
.contact__first__contact-phone img {
    padding-right: 10px;
}

.contact__form {
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    font-size: 0.7rem;
    letter-spacing: 4px;
    color: #08A6E4;
}

.contact__form label {
    padding: 43px 0;
    text-transform: uppercase;
}

input[type="text"] {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-color: #707070;
    border-bottom-width: 1px;
}

input[type="checkbox"] {
    width: 24px;
    height: 24px;
    margin-top: 10px;
    position: relative;
}

input[type="checkbox"]::after {
    content: "";
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #95989A;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
}

input[type="checkbox"]:checked::after {
    width: 24px;
    height: 24px;
    background-image: url(../images/Checkmark.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.consent-box {
    align-items: flex-start;
    margin-top: 30px;
}

.contact__form__consent {
    font-size: .75rem;
    font-family: "Open Sans", sans-serif;
    color: #707070;
    letter-spacing: 0;
    text-align: justify;
    padding-left: 30px;
    padding-top: 5px;
}

.contact__form__button {
    width: 226px;
    height: 57px;
    background-color: #08A6E4;
    border-radius: 35px;
    font-size: .8rem;
    color: #FFFFFF;
    margin: 20px 0 59px 0;
}

.contact__form__button:hover {
    background-color: #0676a2;
    transition: .5s linear;
}

@media screen and (max-width: 1000px) {
    .contact {
        display: block;
        padding: 20px 0;
    }

    .contact__first-box {
        padding-top: 20px;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .contact__first__text {
        flex-direction: column;
        padding: 0;
    }

    .contact__first-box__contact {
        display: block;
    }

    .contact__second-box {
        width: 100%;
        padding: 0 40px;
    }

    .contact__first__contact-email,
    .contact__first__contact-phone,
    .contact__first__contact-email img,
    .contact__first__contact-phone img {
        padding-top: 5px;
        padding-bottom: 0;
        padding-right: 0;
        margin: 0 auto;
    }

    .contact__form__button {
        box-shadow: none;
    }
}

footer {
    width: 100%;
    background-color: #F7F7F7;
    box-shadow: 0 -5px 40px #00000029;
}

.footer {
    justify-content: space-between;
}

.footer__logo {
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0;
    color: #08A6E4;
    float: left;
    padding: 20px 0 38px 0;
}

.footer__rights {
    font-family: "Open Sans", sans-serif;
    font-size: .7rem;
    color: #A5A5A5;
    padding-top: 8px;
}

.footer__social-media {
    float: right;
    align-items: center;
}

.footer__social-media a {
    padding-left: 20px;
}

#calculator-form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 87px;
}

.calculator__two-boxes {
    flex-direction: column;
}

.calculator__two-boxes label {
    padding-left: 10px;
}

.calculator__title {
    font-size: 2.25rem;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0;
    padding-bottom: 52px;
}

input[type="number"], .calculator__two-boxes select {
    font-size: 1rem;
    padding: 11px 312px 11px 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #08A6E4;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #08A6E429;
    color: #A5A5A5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    outline: none;
}

.contain {
    padding-right: 50px;
    letter-spacing: 0;
    color: #707070;
    font-family: 'Open Sans', sans-serif;
    font-size: .75rem;
}

.calculator__second-box {
    flex-direction: column;
    margin-left: 47px;
    letter-spacing: 0;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
}

.calculator__division {
    justify-content: space-between;
}

.products, .orders, .package, .accounting, .terminal {
    min-width: 385px;
    border-radius: 6px;
    background: #55DFB4;
    padding: 6px 0 6px 20px;
    margin-bottom: 8px;
    box-shadow: 0 3px 6px #00000029;
    justify-content: space-between;
    visibility: hidden;
}

.products__title, .orders__title, .package__title, .accounting__title, .terminal__title {
    padding: 6px 0;
}

.total {
    margin-top: 22px;
    background: #08A6E4;
    width: 179px;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 6px;
    justify-content: space-between;
    padding: 10px 15px;
    visibility: hidden;
}

.total-box {
    justify-content: flex-end;
}

.products__calculation, .products__price,
.orders__calculation, .orders__price,
.package__chosen, .package__price,
.accounting__calculation, .accounting__price,
.terminal__calculation, .terminal__price {
    padding: 6px 15px 6px 85px;
}

.accounting, .terminal {
    justify-content: space-between;
}

.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}

.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}

.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: #08A6E4;
}

.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: #08A6E4;
}

.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}

.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}

html, body {
    font-size: 16px;
}