/* --- FIXED CLASSES --- */

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.flex-box {
    display: flex;
}

.container {
    margin: 0 auto;
    width: 1352px;
}

@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
        padding: 0px 20px;
    }
}

/*--- CONTAINER BORDERS ---*/
.test {
    border: 3px dotted black;
    width: 100%;
    height: 70px;
}

/*--- HEADER ---*/

header {
    width: 100%;
    box-shadow: 0 3px 6px #00000029;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 9999;
}

.header {
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    z-index: 9999;
    width: 100%;
}

.header__logo {
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    color: #08A6E4;
    letter-spacing: 0;
    padding: 17px 0 16px 3rem;
    opacity: 1;
}

.header:first-child a {
    text-decoration: none;
}

.header__menu {

}

.nav {
    color: #A5A5A5;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: .7rem;
    letter-spacing: 0.2rem;
    padding: 28px 95px;
}

.nav:last-child {
    /*margin-right: 8.5rem;*/
    /*padding-right: 0;*/
}

.nav a:hover {
    color: #000000;
    border-bottom: 4px solid #08A6E4;
}

@media screen and (max-width: 1000px) {
    .header {
        width: 100%;
        justify-content: space-between;
    }

    .nav {
        display: none;
    }

    #mobile-nav {
        width: 50%;
    }

    #mobile-nav .fa-bars:before {
        float: right;
        content: "\f0c9";
        position: absolute;
        top: 10px;
        right: 10px;
        color: #08A6E4;
        font-size: 3rem;
    }

    .mobile-menu {
        display: none;
        width: 100%;
        text-align: center;
        background-color: #fff;
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 67px;
        border-left: 0.5px solid #E8E9ED;
        border-bottom: 0.5px solid #E8E9ED;
        box-shadow: 0 3px 6px #00000029;
    }

    .mobile-menu li {
        padding: 20px 10px;
    }

    .mobile-menu li a {
        text-decoration: none;
        font-size: 1.2rem;
        color: #08A6E4;
    }
}

@media screen and (min-width: 1001px) {
    #mobile-nav, .mobile-menu {
        display: none;
    }
}

.nav li {
    display: inline;
    font-size: .7rem;
}

.nav li a {
    text-decoration: none;
    color: #A5A5A5;
    padding: 10px;
}


/*--- OPENING SECTION ---*/

.banner__image {
    background-image: url("../images/Background@2x.png");
    width: 100%;
    background-size: cover;
    height: 50vh;
    position: center;
}

@media screen and (max-width: 1000px) {
    .banner__image {
        background-image: url("../images/Background.png");
        max-width: 100%;
        background-size: cover;
        height: 50vh;
        /*background-position: center;*/
        background-attachment: inherit;
        background-position: 50% 50%;
    }
}

.opening-section {
    /*top: 200px;*/
    /*left: -54.5px;*/
    /*width: 1735px;*/
    /*height: 712px;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .opening-section {
        height: 50vh;
    }
}

.opening-section__title {
    font-family: "Raleway", sans-serif;
    font-size: 3.1rem;
    font-weight: 400;
    letter-spacing: 0;
    padding: 100px 0 20px 0;
}

.opening-section__text,
.opening-section__button a {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
}

.opening-section__button {
    background-color: #08A6E4;
    width: 440px;
    height: 67px;
    border-radius: 40px;
    /*box-shadow: 5px 10px 14px #07ACE629;*/
    margin-top: 38px;
    /*transition: .5s linear;*/
}

.opening-section__button:hover {
    background-color: #0795cd;
}

@media screen and (min-width: 480px) and (max-width: 1000px) {
    .opening-section__button {
        width: 40%;
    }
}

@media screen and (max-width: 1000px) {
    .opening-section__button {
        width: 70%;
        box-shadow: none;
    }
}

.opening-section__button a {
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
}

h1 {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 49px;
    letter-spacing: 0;
    width: 227px;
}

@media screen and (min-width: 1000px) {
    .opening-section {
        height: 50vh;
    }
}

.banner {

}


/*--- STATISTICS SECTION ---*/

.statistics-section,
.statistics-section__box,
.statistics-section__box:last-child {
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 1000px){
    .statistics-section__icons {
        flex: none;
        display: block;
    }
    .statistics-section__title {
        text-align: center;
    }
}

/* --- BENEFITS SECTION ---*/

.benefits-section {

}

.pricing-section {

}

.contact {

}

.footer {

}